@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #D6EDFF;
  }
  
  nav {
    background-color: #84DCC6; 
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #111d4a; /* Dark blue color */
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #d6edff; /* Light blue color */
  }
  
  nav button {
    background-color: #8b95c9; /* Purple color */
    color: #ffffff; /* White color */
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  nav button:hover {
    background-color: #478978; /* Green color */
    transform: scale(1.1);
  }
  
  .container {
    text-align: center;
    margin-top: 40px;
  }
  
  h1 {
    font-size: 36px;
    color: #111d4a; /* Dark blue color */
  }
  
  p {
    font-size: 18px;
    color: #8789c0; /* Light purple color */
  }
  
  .btn {
    background-color: #acdde0; /* Light blue color */
    color: #111d4a; /* Dark blue color */
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: 'Quicksand', sans-serif;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #478978; /* Green color */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #478978 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .aboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bestBooks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .centered-button{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }